<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>data/app.log</file>
        <encoder>
            <pattern>%d [%level] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>
</configuration>